<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Chamados em Aberto</title>
        <link rel="stylesheet" type="text/css" href="/styles/styles.css" />
        <link rel="stylesheet" href="/styles/styles-daltonicos.css" id="daltonic-style" disabled>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script>
            function adjustFontSize(action) {
                const root = document.documentElement;
                const currentFontSize = parseFloat(window.getComputedStyle(root).fontSize);
                const step = 1; 

                if (action === 'increase') {
                    root.style.fontSize = (currentFontSize + step) + 'px';
                } else if (action === 'decrease') {
                    root.style.fontSize = (currentFontSize - step) + 'px';
                }
            }
            
            function toggleDaltonicMode() {
                const daltonicStyle = document.getElementById('daltonic-style');
                const defaultStyle = document.getElementById('default-style');

                if (daltonicStyle.disabled) {
                    daltonicStyle.disabled = false;
                    defaultStyle.disabled = true;
                } else {
                    daltonicStyle.disabled = true;
                    defaultStyle.disabled = false;
                }
            }
        </script>
    </head>

    <body>
        <header class="header">
            <div class="header-icons">
                <i class="fas fa-bell" aria-label="Notificações"></i><span class="notification-count"></span>
                <i class="fas fa-question-circle" aria-label="Ajuda"></i>
            </div>
            <div class="font-size-controls">
                <button onclick="adjustFontSize('increase')" aria-label="Aumentar tamanho da fonte">A+</button>
                <button onclick="adjustFontSize('decrease')" aria-label="Diminuir tamanho da fonte">A-</button>
            </div>
            <button class="color-blind-mode" onclick="toggleDaltonicMode()" aria-label="Ativar modo daltônico">Modo Daltônico</button>
        </header>

        <div class="container">
            <h1>TicketFlow</h1>
            <div class="div-users">
                <div class="user-form">
                    <form action="/usuario/autenticar" method="POST">
                        <h3>Insira seus dados para conectar-se e acessar o sistema:</h3>
                        <input type="email" name="email" placeholder="Email" required>
                        <input type="password" name="password" placeholder="Senha" required>
                        <br>
            
                        <% if (error) { %>
                            <div>
                                <h4>Erro</h4>
                                <p>Email ou senha incorretos.</p>
                            </div>
                        <% } %>
                        <button type="submit">Conectar</button>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>