<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="utf-8" />
    <title>TicketFlow</title>
    <link rel="stylesheet" type="text/css" href="styles/home.css" />

</head>

<body>
    <div class="container">
        <h1 class="title">TicketFlow</h1>
        <div class="div-tickets">
            <% if (tickets && tickets.length > 0) { %>
                <% tickets.forEach(function(ticket) { %>
                    <div class="tickets">
                        <h2><%= ticket.id_chamado %></h2>
                        <p><%= ticket.descricao %></p>
                <% }); %>
            <% } else { %>
                <p>Nenhuma obra encontrada.</p>
            <% } %>
        </div>
            <div>Teste joao 2</div>               
        </div>

        <div>
            Testando Joao
        </div>
    </div>
</body>

</html>